<div
  class="container-fluid mb-5"
  [style.margin-top.rem]="!isSmallWidth ? 10 : 0"
>
  <div class="row">
    <div class="col-12 col-md-6 my-auto">
      <img src="../../../assets/images/Software.jpg" />
    </div>
    <div class="col-12 col-md-6 mt-5 mt-sm-0">
      <div>
        <p class="text-blk heading">{{ "About Us" | translate }}</p>
        <p class="text-blk subHeading">
          {{ "aboutus_parap_1" | translate }} <br />
          <br />
          {{ "aboutus_parap_2" | translate }}
          <br /><br />
          {{ "aboutus_parap_3" | translate }}
          <br /><br />
          {{ "aboutus_parap_4" | translate }}
        </p>
        <div class="row">
          <div class="col-6">
            <div
              class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12"
            >
              <div class="cardImgContainer">
                <img class="cardImg" src="../../../assets/images/quality.png" />
              </div>
              <div class="cardText">
                <p class="text-blk cardHeading">{{ "Quality" | translate }}</p>
                <p class="text-blk cardSubHeading">
                  {{ "quality_exp" | translate }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div
              class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12"
            >
              <div class="cardImgContainer">
                <img class="cardImg" src="../../../assets/images/trans.jpg" />
              </div>
              <div class="cardText">
                <p class="text-blk cardHeading">
                  {{ "Transparency" | translate }}
                </p>
                <p class="text-blk cardSubHeading">
                  {{ "transparency_exp" | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div
              class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12"
            >
              <div class="cardImgContainer">
                <img
                  class="cardImg"
                  src="../../../assets/images/customer.jpg"
                />
              </div>
              <div class="cardText">
                <p class="text-blk cardHeading">
                  {{ "Customer First" | translate }}
                </p>
                <p class="text-blk cardSubHeading">
                  {{ "customer_first_exp" | translate }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div
              class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12"
            >
              <div class="cardImgContainer">
                <img class="cardImg" src="../../../assets/images/common.jpg" />
              </div>
              <div class="cardText">
                <p class="text-blk cardHeading">
                  {{ "Common Goals" | translate }}
                </p>
                <p class="text-blk cardSubHeading">
                  {{ "common_goals_exp" | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
