<div class="container-fluid">
  <h1
    class="text-center"
    style="color: white; z-index: 1"
    [style.padding-top.rem]="!isSmallWidth ? 10 : 2"
  >
    {{ "Services" | translate }}
  </h1>
  <div class="gallery" style="height: 50rem">
    <div
      id="tubularRunService"
      class="card"
      data-bs-toggle="modal"
      data-bs-target="#tubularRunServiceModal"
    >
      <img src="../../../assets/images/service_1.jpg" alt="" />
      <div class="info">
        <h4 style="color: white; text-wrap: wrap; width: 25.5rem">
          {{ "Tubular run service" | translate }}
        </h4>
      </div>
    </div>
    <div
      id="snubbingUnit"
      class="card"
      data-bs-toggle="modal"
      data-bs-target="#snubbingUnitModal"
    >
      <img src="../../../assets/images/service_2.jpg" alt="" />
      <div class="info">
        <h4 style="color: white; text-wrap: wrap; width: 25.5rem">
          {{ "Snubbing unit and Coil tubing" | translate }}
        </h4>
      </div>
    </div>
    <div
      class="card"
      data-bs-toggle="modal"
      data-bs-target="#completionsModal"
      id="completions"
    >
      <img src="../../../assets/images/service_1.jpg" alt="" />
      <div class="info">
        <h4 style="color: white; text-wrap: wrap; width: 25.5rem">
          {{
            "Completions and Liner Tools – ESP technology -Dual Completion"
              | translate
          }}
        </h4>
      </div>
    </div>
    <div
      class="card"
      data-bs-toggle="modal"
      data-bs-target="#geomodellingModal"
      id="geomodelling"
    >
      <img src="../../../assets/images/service_1.jpg" alt="" />
      <div class="info">
        <h4 style="color: white; text-wrap: wrap; width: 25.5rem">
          {{ "Geomodelling of reservoirs" | translate }}
        </h4>
      </div>
    </div>
    <div
      class="card"
      data-bs-toggle="modal"
      data-bs-target="#torqueModal"
      id="torque"
    >
      <img src="../../../assets/images/service_2.jpg" alt="" />
      <div class="info">
        <h4 style="color: white; text-wrap: wrap; width: 25.5rem">
          {{ "Torque and drug and Tubular design analysis" | translate }}
        </h4>
      </div>
    </div>
    <div
      class="card"
      data-bs-toggle="modal"
      data-bs-target="#hydraulicModal"
      id="hydraulic"
    >
      <img src="../../../assets/images/service_2.jpg" alt="" />
      <div class="info">
        <h4 style="color: white; text-wrap: wrap; width: 25.5rem">
          {{ "Hydraulic pumps spare parts supplement" | translate }}
        </h4>
      </div>
    </div>
    <div
      class="card"
      data-bs-toggle="modal"
      data-bs-target="#technicalModal"
      id="technical"
    >
      <img src="../../../assets/images/service_2.jpg" alt="" />
      <div class="info">
        <h4 style="color: white; text-wrap: wrap; width: 25.5rem">
          {{
            "Technical evaluation of Completion design as Third Company"
              | translate
          }}
        </h4>
      </div>
    </div>
    <div
      class="card"
      data-bs-toggle="modal"
      data-bs-target="#torqueUnitsModal"
      id="torqueUnits"
    >
      <img src="../../../assets/images/service_2.jpg" alt="" />
      <div class="info">
        <h4 style="color: white; text-wrap: wrap; width: 25.5rem">
          {{ "Torque units calibration device" | translate }}
        </h4>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="tubularRunServiceModal"
  tabindex="-1"
  aria-labelledby="tubularRunServiceModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <section class="card" style="margin: auto">
      <div class="text-content">
        <h3 class="fw-bold">
          {{ "Tubular run service" | translate }}
        </h3>
        <p class="fw-light">
          {{ "tubular_exp" | translate }}
        </p>
        <p style="margin-top: 0" class="fw-bold">
          {{ "Equipment and Resources" | translate }}
        </p>
        <div class="row" style="font-size: 1.3rem">
          <ul class="col-8" style="list-style-type: circle">
            <li>{{ "tubular_list_1" | translate }}</li>
            <li>{{ "tubular_list_2" | translate }}</li>
            <li>{{ "tubular_list_3" | translate }}</li>
            <li>{{ "tubular_list_4" | translate }}</li>
            <li>{{ "tubular_list_5" | translate }}</li>
            <li>{{ "tubular_list_6" | translate }}</li>
            <li>{{ "tubular_list_7" | translate }}</li>
          </ul>
          <ul class="col-4" style="list-style-type: circle">
            <li>{{ "tubular_list_8" | translate }}</li>
            <li>{{ "tubular_list_9" | translate }}</li>
            <li>{{ "tubular_list_10" | translate }}</li>
            <li>{{ "tubular_list_11" | translate }}</li>
            <li>{{ "tubular_list_12" | translate }}</li>
            <li>{{ "tubular_list_13" | translate }}</li>
            <li>{{ "tubular_list_14" | translate }}</li>
          </ul>
        </div>
      </div>
      <div class="visual">
        <img src="../../../assets/images/service_1.jpg" alt="" />
      </div>
    </section>
  </div>
</div>

<div
  class="modal fade"
  id="snubbingUnitModal"
  tabindex="-1"
  aria-labelledby="snubbingUnitModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <section class="card" style="margin: auto">
      <div class="text-content">
        <h3 class="fw-bold mb-3">
          {{ "Snubbing Unit and Workover Service" | translate }}
        </h3>
        <ul class="fw-light" style="list-style-type: circle; font-size: 1.5rem">
          <li>{{ "snub_unit_list_1" | translate }}</li>
          <li>{{ "snub_unit_list_2" | translate }}</li>
          <li>{{ "snub_unit_list_3" | translate }}</li>
          <li>{{ "snub_unit_list_4" | translate }}</li>
          <li>{{ "snub_unit_list_5" | translate }}</li>
        </ul>
      </div>
      <div class="visual">
        <img src="../../../assets/images/service_2.jpg" alt="" />
      </div>
    </section>
  </div>
</div>

<div
  class="modal fade"
  id="completionsModal"
  tabindex="-1"
  aria-labelledby="completionsModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <section class="card" style="margin: auto">
      <div class="text-content">
        <h3 class="fw-bold mb-3">
          {{
            "Completions and Liner Tools – ESP technology - Dual Completion"
              | translate
          }}
        </h3>
        <ul class="fw-light" style="list-style-type: circle; font-size: 1.5rem">
          <li>{{ "completions_list_1" | translate }}</li>
          <li>{{ "completions_list_2" | translate }}</li>
        </ul>
      </div>
      <div class="visual">
        <img src="../../../assets/images/service_1.jpg" alt="" />
      </div>
    </section>
  </div>
</div>

<div
  class="modal fade"
  id="geomodellingModal"
  tabindex="-1"
  aria-labelledby="geomodellingModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <section class="card" style="margin: auto">
      <div class="text-content">
        <h3 class="fw-bold">
          {{ "Geomodelling of Oil and Gas reservoirs" | translate }}
        </h3>
        <p class="fw-light">
          {{ "geomodelling_exp" | translate }}
        </p>
        <p style="margin-top: 0" class="fw-bold">
          {{ "Our services include:" | translate }}
        </p>
        <div class="row" style="font-size: 1.4rem">
          <ul class="col-12" style="list-style-type: circle">
            <li>{{ "geomodelling_list_1" | translate }}</li>
            <li>{{ "geomodelling_list_2" | translate }}</li>
            <li>{{ "geomodelling_list_3" | translate }}</li>
            <li>{{ "geomodelling_list_4" | translate }}</li>
            <li>{{ "geomodelling_list_5" | translate }}</li>
            <li>{{ "geomodelling_list_6" | translate }}</li>
          </ul>
        </div>
      </div>
      <div class="visual">
        <img src="../../../assets/images/service_1.jpg" alt="" />
      </div>
    </section>
  </div>
</div>

<div
  class="modal fade"
  id="torqueModal"
  tabindex="-1"
  aria-labelledby="torqueModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <section class="card" style="margin: auto">
      <div class="text-content">
        <h3 class="fw-bold mb-3">
          {{ "Torque and drug and Tubular design analysis" | translate }}
        </h3>
        <ul class="fw-light" style="list-style-type: circle; font-size: 1.5rem">
          <li>{{ "torque_list_1" | translate }}</li>
          <li>{{ "torque_list_2" | translate }}</li>
          <li>{{ "torque_list_3" | translate }}</li>
        </ul>
      </div>
      <div class="visual">
        <img src="../../../assets/images/service_1.jpg" alt="" />
      </div>
    </section>
  </div>
</div>
