<h1 class="fw-bold text-center" style="color: black">
  {{ "Services" | translate | uppercase }}
</h1>
<section class="hero-section">
  <div class="card-grid">
    <a class="card" id="tubularRunServiceModal" (click)="onClick($event)">
      <div
        class="card__bg"
        style="background-image: url(../../../assets/images/service_1.jpg)"
      ></div>
      <div class="card__content">
        <h3 class="card__heading">
          {{ "Tubular run service" | translate }}
        </h3>
      </div>
    </a>

    <a class="card" id="snubbingUnitModal" (click)="onClick($event)">
      <div
        class="card__bg"
        style="background-image: url(../../../assets/images/service_2.jpg)"
      ></div>
      <div class="card__content">
        <h3 class="card__heading">
          {{ "Snubbing unit and Coil tubing" | translate }}
        </h3>
      </div>
    </a>

    <a class="card" id="completionsModal" (click)="onClick($event)">
      <div
        class="card__bg"
        style="background-image: url(../../../assets/images/completion_1.PNG)"
      ></div>
      <div class="card__content">
        <h3 class="card__heading">
          {{
            "Completions and Liner Tools – ESP technology -Dual Completion"
              | translate
          }}
        </h3>
      </div>
    </a>

    <a class="card" id="geomodellingModal" (click)="onClick($event)">
      <div
        class="card__bg"
        style="background-image: url(../../../assets/images/service_2.jpg)"
      ></div>
      <div class="card__content">
        <h3 class="card__heading">
          {{ "Geomodelling of reservoirs" | translate }}
        </h3>
      </div>
    </a>

    <a class="card" id="torqueModal" (click)="onClick($event)">
      <div
        class="card__bg"
        style="background-image: url(../../../assets/images/service_1.jpg)"
      ></div>
      <div class="card__content">
        <h3 class="card__heading">
          {{ "Torque and drug and Tubular design analysis" | translate }}
        </h3>
      </div>
    </a>

    <a class="card">
      <div
        class="card__bg"
        style="background-image: url(../../../assets/images/service_2.jpg)"
      ></div>
      <div class="card__content">
        <h3 class="card__heading">
          {{ "Hydraulic pumps spare parts supplement" | translate }}
        </h3>
      </div>
    </a>

    <a class="card">
      <div
        class="card__bg"
        style="background-image: url(../../../assets/images/service_2.jpg)"
      ></div>
      <div class="card__content">
        <h3 class="card__heading">
          {{
            "Technical evaluation of Completion design as Third Company"
              | translate
          }}
        </h3>
      </div>
    </a>

    <a class="card">
      <div
        class="card__bg"
        style="background-image: url(../../../assets/images/service_2.jpg)"
      ></div>
      <div class="card__content">
        <h3 class="card__heading">
          {{ "Torque units calibration device" | translate }}
        </h3>
      </div>
    </a>
  </div>
</section>
